body{
    background-color: rgb(245, 236, 235);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 40px;
    background-color: #222;  
}


#logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-family: cursive;
}

nav a:hover {
    color: orange;
}
.about-section, .team-section {
    padding: 40px;
    text-align: center;
}

.about-section h1, .team-section h2 {
    color: #222;
}

.about-section p {
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.member {
    background: #af93f0;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

.member h3 {
    margin-bottom: 10px;
    color: #333;
}
.step {
    background-color: #f4f6f8;
    padding: 10px;
    border-left: 4px solid #007bff;
    margin-bottom: 8px;
    font-family: Arial, sans-serif;
  }
  .git-container {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  
  .git-text {
    width: 30%;
  }
  
  .git-image {
    width: 50%;
  }
  
  .git-image img {
    width: 800px;
    height: 300px;
    border-radius: 10px;
  }
  

